li {
  list-style: none; }

.bigTemp {
  color: #8383fc;
  font-size: 40pt;
  margin: 0px;
  margin-left: 20px; }

.smallTemp {
  color: #8383fc;
  font-size: 13pt; }

.weatherInfo {
  color: #8383fc;
  font-size: 12px;
  margin: 0px;
  margin-left: 5px; }

