/* ---------- Base styles ---------- */

.vbpq_category-portlet .portlet,
.vbpq_dynamic_menu-portlet .portlet{
	background: #F5F8FB !important;
}

.weblinks-portlet select{
	width: 265px;
}

/* ---------- Portal Search Portlet ---------- */
.portlet-search{
	padding: 0px;
	margin: 0px;
}

.portlet-search input[type="reset"]{
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA !important;
}
			
.portlet-search input[type="text"]{
	width: 220px;
	border-radius:2px !important;
}
					
.portlet-search select{
	display: none;
}
*{
	margin: 0;
	padding: 0;
}
body {
	/* background: url("../images/background/body-bg.png"); */
	font-size: 13px;
	font-family: "Arial",sans-serif;
	color: #434343;
	position: relative;
}

.body-wrapper{
	width: 100%;
	margin-bottom: 30px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0px 1px 3px 2px #ccc;
}

.body-content{
	height: auto;
	position: relative;
	margin: auto;
	margin-bottom: 50px;
}
.content-wrapper {
	background: none;
	margin: 0 auto;
	width: 1170px;
	position: relative;
	min-height: 1000px;
	padding: 0 5px;
	margin-top: 10px;
}
.main-banner{
	width: 100%;
	height: 394px;
	background: url("../images/background/Rectangle.png") no-repeat;
}
.top-header {
	width: 100%;
	height: 124px;
	background: #3954AB;
}

.top-header .header-content{
	width: 1170px;
	height: 100%;
	position: relative;
	color: #fff;
	margin: 0 auto;
}
.top-header .header-content .main-logo{
	height: 100%;
	width: 87px;
	background: url("../images/LogoVT.png") no-repeat center;
}
.top-header .header-content .portal-info{
	position: absolute;
	top: 31px;
	left: 112px;
}
.top-header .header-content .portal-language{
	position: absolute;
	top: 7px;
	right: 0px;
}
.portal-language .list-language li{
	float: left;
	list-style: none;
	padding-right: 15px;
}
.top-header .header-content .portal-info .portal-name{
	font-size: 18px;
	font-weight: 400;
}
.top-header .header-content .portal-info .city-name{
	margin-top: 5px !important;
	font-size: 30px;
}
.content-wrapper iframe{
	width: 100% !important;
	overflow: hidden !important;
}

select,
textarea,
input[type="text"]{
  display: inline-block;
  padding: 5px !important;
  color: #555555;
  background-image:none;
  vertical-align: middle;
  -webkit-border-radius: 3px !important;
     -moz-border-radius: 3px !important;
          border-radius: 3px !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc ;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
          transition: border linear 0.2s, box-shadow linear 0.2s !important;
}

select:focus,
textarea:focus,
input[type="text"]:focus{
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  background-color: #ffffff !important;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}

a {
	color: #00528B;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #ff0700;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

.ie6 .content-wrapper {
	width: 90%;
}

#content{
	font-family: inherit;
	color: #434343;
}


.site-title .site-name {
	background: #555 url(../images/common/site_icon.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 1em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	position: relative;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.page-template .site-title .site-name {
	background-image: url(../images/common/page_template.png);
}

.site-template .site-title .site-name {
	background-image: url(../images/common/site_template.png);
}

.company-site .site-title .site-name {
	background-image: url(../images/common/folder.png);
}

.organization-site .site-title .site-name {
	background-image: url(../images/common/organization_icon_white.png);
}

.user-site .site-title .site-name {
	background-image: url(../images/common/user_icon_white.png);
}

.private-page .site-title .site-name:after {
	background-image: url(../images/common/key_small.png);
	content: '';
	display: block;
	height: 10px;
	left: 24px;
	position: absolute;
	top: 50%;
	width: 10px;
}

#skip-to-content:focus {
	clip: rect(auto auto auto auto);
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: -1.2em;
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

.logo .current-site, 
#navigation, 
#navigation a, 
.portlet,
.site-breadcrumbs ul, 
.aui-form-validator-message{
	border-radius: 2px;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background-color: #FFFFFF;
	margin: 0 0 10px;
	text-align: left;
	border-radius: 0px;
}

.portlet-topper {
	background: url(../images/background/portlet-title-bg.png) top right no-repeat scroll #0788d9;
	color: #ffffff;
	padding-left: 0 !important;
	height: 25px;
	box-shadow: 0 1px 1px 0px #ddd !important;
}
.head_title-inner{
	height: 25px;
}
.portlet-icon{
	float: left;
}

.portlet-title {
    font-size: 12px;
    padding-left: 3px;
    white-space: nowrap;
    line-height: 26px;
    height: 25px;
    text-transform: uppercase;
    padding-right: 60px;
    font-weight: bold;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

/* ---------- Footer ---------- */

#footer {
	background-color: #4267b2;
	padding: 0px;
	min-height: 100px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px -4px 5px #ddd;
    -webkit-box-shadow: 0px -4px 5px #ddd;
	font-size: 15px;
}
.footer-menu {
	text-align:center;
	font-weight: bold;
	height: 30px;
	text-shadow: 1px 1px #434343;
	border-bottom: 1px solid #fff;
}

.footer-menu .footer-menu-wrapper{
	width: 1000px;
	margin: 0 auto;
}

.footer-menu ul {
	list-style: none outside none;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
}

.footer-menu li {
	position: relative;
	vertical-align: top;
	float: none;
	display: inline;
}

.footer-menu a {
	color: #ffffff;
	padding: 0px 15px;
	border-right: 1px solid rgb(92, 170, 245);
}

.footer-menu li:first-child a {
	padding-left: none;
}

.footer-menu li:last-child a {
	border-right: none;
}

.footer-menu a:hover {
	color: #ffd900 !important;	
}

.copyright{
    margin: 0 auto;
    min-height: 120px;
    padding-left:10px;
    padding-top: 10px;
	color: #fff;
}
#footer .copyright p{
	margin: 0 !important;
}
.copy-right-content{
	padding-top: 10px;
	width: 50%;
	float: left;
}
.bottom-right-content{
	padding-top: 10px;
	width: 49%;
	text-align:right;
	float:left;
}
/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
	margin: 0 0 5px;
	width: auto;
}

.site-breadcrumbs ul {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
	display: block;
	padding: 0.5em 15px 0.5em 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs li.first a {
	color: #369;
	font-weight: bold;
}

.site-breadcrumbs li.last a {
	color: #4B5567;
	font-size: 1.3em;
}

.site-breadcrumbs .last {
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 440;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, 
.lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */
.aui-menu-content ul li{
	z-index: 999;
}

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.portlet-boundary_weather_WAR_weatherportlet_ .portlet-content{
	padding: 1px !important;
	margin: 0px;
}

		
.top-links-container .top-links  input[type="text"]{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A1A2A4;
    border-radius: 2px;
    box-shadow: 0 1px 0 white, 0 1px 2px #CCCCCC inset;
    padding: 5px 1px;
    text-shadow: none;
	width: 240px;
	color: #454545;
}

.header-title{
	color: #00528B;
}

.portlet-journal-content-search input[type="text"]{
	width: 155px;
}

.portlet-image-gallery-display .taglib-search-iterator-page-iterator-top{
	display: none;
}

.portlet-image-gallery-display .taglib-search-iterator-page-iterator-bottom .taglib-page-iterator{
	color: #999999;
	margin-top: 10px;
}

.portlet-image-gallery-display .taglib-search-iterator-page-iterator-bottom .taglib-page-iterator select{
	color: #999999;
	padding: 2px !important;
}

.portlet-image-gallery-display .taglib-search-iterator-page-iterator-bottom .search-results{
	color: #999999;
	margin-top: 10px;
}

.portlet-image-gallery-display .image-thumbnail{
	border: 1px solid #eee;
	margin: 10px 5px;
}

.scroll-up-btn {
	opacity: 0.3;
	position: fixed;
	bottom: 50px;
	right: 30px;
	display: none;
	color: #434343;
	text-transform: uppercase;
  
	.btn-arrow{
	 	width: 50px;
		height: 50px;
		display: block;
		margin-bottom: 7px;
		background-color: #ccc;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../images/custom_icon/back-to-top-icon.png);
		opacity: 0.8;
		filter: alpha(opacity = 80);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	
	.btn-arrow:hover{
		opacity: 1;
		background-color: #777777;
	}
	
	.btn-text{
		width: 50px;
		display: block;
		text-align: center;
	}
}
.arcontactus-message-button{
	width: 50px;
    position: fixed;
    height: 50px;
    right: 30px;
    bottom: 88px;
    background: #4267b2;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    .static{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -10px;
	    margin-left: -26px;
	    width: 52px;
	    height: 52px;
	    text-align: center;
	    color: #fff;
    }
}
.chatbot-container{
	width: 330px;
    height: 370px;
    background: #fff;
    position: fixed;
    bottom: 155px;
    box-shadow: 0 0 0 1px #ddd;
    padding: 5px;
    border-radius: 10px;
    z-index: 10000;
    right: 40px;
    .header{
    	align-items: center;
	    border-bottom: 1pt solid rgba(0, 0, 0, .1);
	    flex-basis: 10%;
	    height: 10%;
	    justify-content: space-between;
	    max-height: 28px;
	    min-height: 20px;
	    text-align: center;
	    width: 100%;
	    #closeChatBot{
	    	position: absolute;
		    left: 13px;
		    color: #fff;
		    top: 9px;
		    height: 15px;
		    width: 15px;
		    background: #ddd;
		    border-radius: 5px;
	    }
    }
    .chat-form{
    	position: relative;
    	a {
    		position: absolute;
    		cursor: pointer;
    		right: -4px;
    		bottom: -6px;
    	}
    }
    .chat-body{
    	padding: 7px 5px;
    	overflow-y: auto;
    	height: 297px;
    	width: 100%;
    	
    	ul {
    		margin: 0 !important;
    	} 
    }
    .chat-body .container{
    	overflow-wrap: break-word;
    	width: 85%;
    	height: auto;
    	margin: 5px 0px;
    	color: #fff;
    	border-radius: 5px;
    	 
    }
    
    .chat-body .user{
    	float: right;
    	border-bottom-right-radius: 1.3em;
    	border-top-right-radius: 1.3em;
    	background: rgb(0, 132, 255);
    	margin-right: 5px;
    	.content{
    		text-align: right;
    	}
    }
    .chat-body .bot{
    	border-bottom-left-radius: 1.3em;
    	border-top-left-radius: 1.3em;
    	background: rgb(241, 240, 240);
    	color: #333;
    }
    
    .chat-body .container .content{
    	padding: 5px 5px 5px 5px;
    }
    .chat-form input[type="text"]{
	  display: inline-block;
	  padding: 6px 5px !important;
	  width: 96%;
	  color: #555555;
	  vertical-align: middle;
	  -webkit-border-radius: 3px !important;
	     -moz-border-radius: 3px !important;
	          border-radius: 3px !important;
	  background-color: #ffffff !important;
	  border: 1px solid #cccccc ;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	     -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	       -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	          transition: border linear 0.2s, box-shadow linear 0.2s !important;
	}
	
	.chat-form input[type="text"]:focus{
	  border-color: rgba(82, 168, 236, 0.8) !important;
	  outline: 0;
	  outline: thin dotted \9;
	  /* IE6-9 */
	
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
	}
}
.article-audio{
	background: url(../images/custom_icon/audio.png) no-repeat 0 0 !important;
    width: 45px;
    height: 25px;
    border: none;
    cursor: pointer;
}
.article-audio:HOVER{
	color: #fff !important;
	background: url(../images/custom_icon/audio.png) no-repeat 0 0 !important;
}
/* TAGLIB SEARCH ITERATOR */
.taglib-page-iterator{
	padding-top: 10px;
	font-size: 11px;
	font-weight: normal !important;
	color: #757575;	
	
	select{
		padding: 0px !important;
		border-radius: 0px !important;
	}
}

.lfr-search-container{
	
	table tr:hover td {
		background: #d3e8f1;
		border: 1px solid #d3e8f1;
	}
} 


