.site-display-settings-portlet .setting-container {
  font-size: 14px; }
  .site-display-settings-portlet .setting-container .setting-menu {
    width: 30%; }
    .site-display-settings-portlet .setting-container .setting-menu a.setting-menu-item {
      padding: 5px 0 5px 5px; }
    .site-display-settings-portlet .setting-container .setting-menu a.active {
      background-color: #5c696e;
      font-weight: bold;
      color: #FFF;
      text-decoration: none; }
    .site-display-settings-portlet .setting-container .setting-menu a:focus {
      outline: none; }
  .site-display-settings-portlet .setting-container .setting-content {
    width: 65%; }
.site-display-settings-portlet input[type="text"] {
  width: 100%;
  padding: 8px 0px; }
.site-display-settings-portlet .aui-field-content, .site-display-settings-portlet .aui-button-holder {
  padding-top: 10px; }

