<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	$theme.include($top_head_include)
</head>

<body class="$css_class" >

	$theme.include($body_top_include)
	
	#if ($is_signed_in)
		#dockbar()
	#end
	
	<div class="body-wrapper">
		
		<div class="content-wrapper">
			<div id="content">
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
		
					$portletDisplay.setTitle($the_title)
		
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>
		</div>
		
		<footer id="footer" role="contentinfo">
			#parse ("$full_templates_path/footer.vm")
		</footer>
		
		$theme.include($body_bottom_include)
				
		<a href="#" class="scroll-up-btn">
			<span class="btn-arrow"></span>
			<span class="btn-text">#language("back-to-top")</span>
		</a>
	</div>
	
	<script type="text/javascript">
	  $(document).ready(function () {
	
	      $(window).scroll(function () {
	          if ($(this).scrollTop() > 100) {
	              $('.scroll-up-btn').fadeIn();
	          } else {
	              $('.scroll-up-btn').fadeOut();
	          }
	      });
	
	      $('.scroll-up-btn').click(function () {
	          $("html, body").animate({
	              scrollTop: 0
	          }, 600);
	          return false;
	      });
	
	  });
	</script>
	
	<script type="text/javascript">
		AUI().ready('aui-dialog', function(A) {
			A.all('a.quickEditLayoutSet').each(
				function(node){
					node.on('click', function(event) {
						event.preventDefault();
						var item = event.currentTarget;
						var width = item.attr('data-width');
						if(!width){
							width = 500;
						}
						window.myDialog = new A.Dialog(
							{
								id: item.attr('id'),
								align: Liferay.Util.Window.ALIGN_CENTER,
								title: item.attr('title'),
								width: width,
								modal:true,
								close: false,
								buttons: [{
									label: Liferay.Language.get('close'),
									handler: function() {
										this.close();
									}
								}]
							}
						).plug(
							A.Plugin.IO,
							{
								uri: item.attr('href')
							}
						).render();
					});
				}
			);
		});
</script>
</body>

$theme.include($bottom_include)

</html>