.vungtau-viewport-container {
  width: 100%;
  height: 181px;
  background: url("/vungtau-viewport-portlet/images/group-19.png") no-repeat center;
  text-align: center;
  line-height: 181px;
  color: #ffffff; }

