li {
	list-style:none;
}

.bigTemp {
	color:rgb(131, 131, 252);
	font-size:40pt;
	margin: 0px;
	margin-left:20px;
}

.smallTemp {
	color:rgb(131, 131, 252);
	font-size:13pt;
}

.weatherInfo {
	color:rgb(131, 131, 252);
	font-size:12px;
	margin: 0px;
	margin-left: 5px;
}