.complex-portlet{
	margin: 0 auto;
	width: 570px;
	height: 106px;
	background: url("/weather-portlet/images/blur.png") center no-repeat;
}
.complex-portlet .weather-container{
	width:170px;
	height: 79px;
	float: left;
	padding-top: 20px;
	color: #fff;
}
.weather-container .weatherInfo{
	font-size: 16px;
}
.weather-container select{
	border: none;
    box-shadow: none !important;
    outline: none !important;
   	width: 100%;
   	color: #000;
   	background:none !important
}
.weather-container table{
	padding-top: 10px;
}
.weather-container select:FOCUS {
	border: none !important;
	color: #000;
	background: none !important;
    -webkit-appearance: none;
}
.temperature-detail .tbl-info p{
	margin: 0 !important;
}
.temperature-detail .tbl-info td{
	vertical-align: middle;
}
.temperature-detail .tbl-info td .bigTemp{
	font-size: 35px;
	padding-left: 5px;
}
.temperature-detail .tbl-info tbody tr td:FIRST-CHILD {
	padding:10px 0px;
}
.complex-portlet .currency-rate{
	float: right;
	width: 400px;
}
.weather-container .row{
	padding-left: 15px;
}
.currency-rate .currency-rate-table{
	padding-left: 15px;
}