<div class="footer-menu">
	<div class="footer-menu-wrapper">
		<ul>
			<li class="$nav_item_class">
				<a href="/trang-chu"><span>Trang chủ</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/gioi-thieu"><span>Giới thiệu</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/tin-tuc-su-kien"><span>Tin tức sự kiện</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/he-thong-van-ban"><span>Hệ thống văn bản</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/dich-vu-cong"><span>Dịch vụ công</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thong-tin-huu-ich"><span>Thông tin hữu ích</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/lien-he"><span>Liên hệ</span></a>
			</li>
		</ul>
	</div>
</div>

<div class="copyright">
		
	#if ($theme_display.isShowPageSettingsIcon())
		<span class="lfr-meta-actions" >
				<a class="taglib-icon quickEditLayoutSet" href="$editFooterURL" data-width="700" id="quickEditFooter">
					<img class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" alt="#language("edit-footer")" title="#language("edit-footer")">
				</a>
		</span>
	#end

	#if ($footerContent == "")
		<div class="copy-right-content">
			<b>CỔNG THÔNG TIN ĐIỆN TỬ CHI CỤC THỦY SẢN - TỈNH BÀ RỊA VŨNG TÀU</b><br/>
	
			Giấy phép số 241?GP-BC, 11/06/2007 của Cục báo chí <br/>
			
			Trụ sở chính: KP Long Bình, TTr.Long Điền, huyện Long Điền, tỉnh BR-VT. Điện thoại: 0643.653.028. Email: banbientap@chicucthuysan.baria-vungtau.gov.vn <br/>
			
			Ghi rõ nguồn Cổng thông tin điện tử Chi cục Thủy Sản khi trích dẫn thông tin từ địa chỉ này <br/>
		</div>
	#else	
		$footerContent
	#end
</div>