.site-display-settings-portlet{
	
	.setting-container{
		font-size: 14px;
		.setting-menu{
			width: 30%;
						
			a.setting-menu-item{
				padding: 5px 0 5px 5px;
			}
			
			a.active{
				background-color: #5c696e;
				font-weight:bold;
				color: #FFF;
				text-decoration: none;
			}
			
			a:focus{
				outline: none;
			}
		}
		
		.setting-content{
			width: 65%;
		}
	}
	input[type="text"]{
		width: 100%;
		padding: 8px 0px;
	}
	.aui-field-content, .aui-button-holder{
		padding-top: 10px;
	}
}