<div class="footer-menu">
	<div class="footer-menu-wrapper">
		<ul>
			<li class="$nav_item_class">
				<a href="/trang-chu"><span>Trang chủ</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/gioi-thieu"><span>Giới thiệu</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/so-do-cong-thong-tin"><span>Sơ đồ trang thông tin</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thu-vien-anh"><span>Thư viện ảnh</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thu-vien-video"><span>Thư viện video</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/lien-he"><span>Liên hệ</span></a>
			</li>
		</ul>
	</div>
</div>
<div class="copyright">	
	#if ($theme_display.isShowPageSettingsIcon())
		<span class="lfr-meta-actions" >
				<a class="taglib-icon quickEditLayoutSet" href="$editFooterURL" data-width="700" id="quickEditFooter">
					<img class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" alt="#language("edit-footer")" title="#language("edit-footer")">
				</a>
		</span>
	#end
	#if($footerContent == "")
		<div class="copy-right-content">
			.....
		</div>
		<div class="bottom-right-content">
			.....
		</div>
	#else
		$footerContent
	#end
</div>