.vungtau-contact-portlet-config-form .aui-field-text {
  width: 100%; }

.contact-vungtau-container {
  text-align: center;
  height: 38px;
  width: 100%;
  background: #E9E9E9;
  line-height: 53px; }

