<div class="footer-menu">
	<div class="footer-menu-wrapper">
		<ul>
			<li class="$nav_item_class">
				<a href="/trang-chu"><span>Trang chủ</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/gioi-thieu"><span>Giới thiệu</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/du-khach"><span>Sơ đồ cổng thông tin</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thu-vien-anh"><span>Thư viện ảnh</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thu-vien-video"><span>Thư viện video</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/thu-vien-audio"><span>Bài hát tỉnh</span></a>
			</li>
			<li class="$nav_item_class">
				<a href="/lien-he"><span>Liên hệ</span></a>
			</li>
		</ul>
	</div>
</div>

<div class="copyright">
		
	#if ($theme_display.isShowPageSettingsIcon())
		<span class="lfr-meta-actions" >
				<a class="taglib-icon quickEditLayoutSet" href="$editFooterURL" data-width="700" id="quickEditFooter">
					<img class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" alt="#language("edit-footer")" title="#language("edit-footer")">
				</a>
		</span>
	#end
	#if ($footerContent == "")
		<div class="copy-right-content">
			<b>© CỔNG THÔNG TIN ĐIỆN TỬ ĐẢNG BỘ TỈNH QUẢNG NGÃI</b><br/>
			52 Hùng Vương, thành phố Quảng Ngãi. Điện thoại Ban Biên tập: 0255 3 712 135 - Fax: 0255 3 822 217 - Email: bbt@quangngai.gov.vn</br>
			Giấy phép số: 121/GP-TTĐT ngày 15/8/2012 - Chịu trách nhiệm chính: Ông Trần Văn Thế- Phó chánh Văn phòng UBND tỉnh Quảng Ngãi. Di động: 0914 062 452 </br>
			© 2012 Bản quyền thuộc về Ủy Ban Nhân Dân tỉnh Quảng Ngãi. </br>
			Ghi rõ nguồn 'Cổng Thông tin điện tử tỉnh Quảng Ngãi' hoặc 'www.quangngai.gov.vn' khi phát hành lại thông tin từ các nguồn này<br/>
		</div>
	#else
		$footerContent
	#end
</div>