.vungtau-citizen-portlet-config-form .lfr-form-row{
	width: 100%;
}
.vungtau-citizen-portlet-config-form .lfr-form-row{
	width: 100%;
}
.vungtau-citizen-portlet-config-form .lfr-form-row .form-row{
	width: 100%;
	float: left;
	.aui-field{	
		width: 50%;
	}
	.aui-field-input-text{
		width: 80%;
	}
	.row-legend{
		margin: 10px 0;
	}
}
.vungtau-citizen-portlet  .portlet-content{
	padding: 0px !important;
	border: none !important;
}
.vungtau-citizen-container{
	width: 100%;
	padding-top: 10px;
	.citizen-column:nth-child(2){
		width: 400px;
		float: left;
	}
	.citizen-column:nth-child(1){
		width: 370px;
		float: left;
		margin-right: 15px;
	}
	.citizen-column:nth-child(3){
		width: 370px;
		float: left;
		margin-left: 15px;
	}
	.citizen-column .image-desc{
		text-align: center;
		width: 137px;
		height: 137px;
		margin: 0 auto;
	}
	.citizen-column .image-desc img{
		width: 100%;
		height: 100%;
	}
	.citizen-column .content-desc{
		margin-top: 30px;
	}
	.title-desc{
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		color: #D20000;
	}
	.desc-content{
		font-size: 14px;
		color: #000000;
		text-align: justify;
	}
	.reflect-content{
		padding: 0px 15px;
	}
	.reflect-container .row{
		border-left: 1px solid #B7B7B7;
		border-right: 1px solid #B7B7B7;
	}
	.action-links{
		padding-top: 10px;
	}
	
	.action-links select{
		width: 100%;
		color: #000;
		height: 43px;
		font-size: 15px;
	}
	.action-links ul{
		width: 100%;
		margin-top: 0 !important;
		margin-left: 1em !important;
	}
	.action-links ul li{
		list-style: circle;
		padding: 5px 0px;
	}
	
	.action-links ul li a{
		color: #000;
		text-decoration: underline;
		font-size: 15px;
	}
	.reflect-content .action-links{
		padding-bottom: 35px;
	}
	.portlet-custom-title{
		margin-bottom: 42px;
	}
	.portlet-custom-title h3{
		text-transform: uppercase;
		color: #000;
	}
	.portlet-custom-title .portlet-description{
		font-size: 14px;
	}
}
	