
.public-service-registry-container {
	 border-radius: 5px;
	 background-color: #f2f2f2;
	 padding: 20px;
	 
	 input[type=text], select, textarea,input[type=email]{
		 width: 100%;
		 padding: 12px !important;
		 border: 1px solid #ccc;
		 border-radius: 4px;
		 box-sizing: border-box;
		 margin-top: 6px;
		 margin-bottom: 16px;
		 resize: vertical;
	}
	label{
		color: #000;
	}
	.warning{
		font-size: 10px;
		color: #f00;
	}
	.btn {
	  position: relative;
	  vertical-align: top;
	  height: 40px;
	  padding: 0 5px;
	  color: white;
	  text-align: center;
	  border: 0;
	  text-shadow:none;
	  cursor: pointer;
	}
	.btn-submit{
		background: #e67e22;
		box-shadow: inset 0 -2px #e67e22;
	}
	.btn-reset{
		background: #3498db;
		box-shadow: inset 0 -2px #16a085;
	}
	.btn-submit:hover {
	  top: 1px;
	  outline: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  background: #d35400;
	}
	.error{
		color: #f00;
	}
}
.search-public-service-portlet{
	.search-container{
		width: 100%;
		margin:  0 auto;
	}
	input[type=text], select, textarea,input[type=email]{
		 width: 80%;
		 padding: 8px !important;
		 border: 1px solid #ccc;
		 border-radius: 4px;
		 box-sizing: border-box;
		 margin-top: 6px;
		 margin-bottom: 16px;
		 resize: vertical;
	}
	.input-group-addon{
		padding: 7px;
		background: #48b9dd;
		color: #fff;
		font-weight: bold;
		top: -4px;
		position: relative;
		cursor: pointer;
	}
	.input-group-addon:HOVER{
		background: #1fb2e0;
	}
	.header-title{
		font-size: 15px;
		font-weight: bold;
	}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
}