<div class = "sub-navigation">
	
	<div class="top_notify">
		<marquee direction="left" scrollamount="1" scrolldelay="40" width="480px">
			<span>Cổng thông tin điện tử hội đồng nhân dân tỉnh Bà Rịa Vũng Tàu</span>
		</marquee>
	</div>
	
	<div class="global-search-wrapper">
		$theme.search()
	</div>
	
	<div style="clear:both;"></div>
</div>
