<div class="navigation">
	<ul id="navigation-menu" class="sf-menu sf-navbar">
		#set ($counter=0)
		#foreach ($nav_item in $nav_items)
			#set ($counter = $counter + 1)
			#if($counter==1)
				#if ($nav_item.isSelected())
					<li class="first-nav-item selected">
				#else
					<li class="first-nav-item">
				#end
			#else
				#if ($nav_item.isSelected())
					<li class="selected">
				#else
					<li>
				#end
			#end
				#if ($nav_item.hasChildren())
					<ul class="sub-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.icon() $nav_child.getName()</a>
							</li>
						#end
					</ul>
				#else
					<a href="$nav_item.getURL()" $nav_child.getTarget()>
						$nav_item.icon() $nav_item.getName()
					</a>
				#end
			</li>
		#end
	</ul>
	<div class="global-search-wrapper">
		$theme.search()
	</div>
</div>
<div style="clear:both;"></div>
