<div class="main-contact">
    <div class="sub-navigation">
    	<div class="top-notify">
    		<div class="datetime">
    			<span id="portal_egov_clock"></span>
    		</div>
    		<div class="main-slogan">
    			<div class="slogan-content">
	    			<marquee width="100%" direction="left" height="100%">
	    				$sloganContent
	    			</marquee>
    			</div>
    		</div>
    	<div style="clear:both;"></div>
    	</div>
    </div>
</div>