<div class="main-contact">
    <div class="contact-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="617" height="28" viewbox="0 0 617 28">
            <g id="Group_18" data-name="Group 18" transform="translate(-662 -563)">
                <text
                    id="Đường_dây_nóng"
                    data-name="Đường dây nóng"
                    transform="translate(663 585)"
                    fill="#282b3b"
                    font-size="16"
                    font-family="Arial-BoldMT, Arial"
                    font-weight="700">
                    <tspan x="0" y="0">Đường dây nóng</tspan>
                </text>
                <text
                    id="Công_dân:_088_8800_247_Doanh_nghiệp:_088.8801.247"
                    data-name="Công dân: 088 8800 247    Doanh nghiệp: 088.8801.247"
                    transform="translate(819 586)"
                    fill="#282b3b"
                    font-size="16"
                    font-family="ArialMT, Arial">
                    <tspan x="0" y="0">Công dân:</tspan>
                    <tspan y="0" fill="#f83030" font-family="Arial-BoldMT, Arial" font-weight="700"></tspan>
                    <tspan y="0" fill="#f83030" font-size="20" font-family="Arial-BoldMT, Arial" font-weight="700">088 8800 247</tspan>
                    <tspan
                        y="0"
                        xml:space="preserve"
                        fill="#f83030"
                        font-size="25"
                        font-family="Arial-BoldMT, Arial"
                        font-weight="700"></tspan>
                    <tspan y="0">Doanh nghiệp:</tspan>
                    <tspan y="0" fill="#f83030"></tspan>
                    <tspan y="0" fill="#f83030" font-size="20" font-family="Arial-BoldMT, Arial" font-weight="700">088.8801.247</tspan>
                </text>
            </g>
        </svg>
    </div>
    <div class="sub-navigation">
    	<div class="top-notify">
    		<div class="datetime">
    			<span id="portal_egov_clock"></span>
    		</div>
    		<div class="main-slogan">
    			<div class="slogan-content">
	    			<marquee width="100%" direction="left" height="100%">
	    				$sloganContent
	    			</marquee>
    			</div>
    		</div>
    	<div style="clear:both;"></div>
    	</div>
    </div>
</div>