/* ---------- Main navigation ---------- */
.navigation {
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-shadow: 0px 1px 1px 2px #ddd;
  background: #1E74CB;
  margin-bottom: 10px;
  border-radius: 0px; }

.sf-navbar {
  float: none;
  position: relative;
  width: 1000px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-navbar ul {
  background: #80a8df;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  left: 0;
  z-index: 99;
  width: 1010px;
  min-width: 1010px; }

.sf-navbar li {
  position: static;
  float: left;
  cursor: pointer;
  white-space: nowrap; }

.sf-navbar li.first-nav-item a span {
  padding-left: 8px; }

.sf-navbar li.home-icon a {
  padding-left: 5px;
  padding-right: 0px; }

.sf-navbar .home-icon img {
  margin-top: 8px; }

.sf-navbar li:hover,
.sf-navbarli.sfHover {
  background: #80A8DF;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none; }

.sf-navbar li:hover > ul,
.sf-navbar li.sfHover > ul {
  display: block; }

.sf-navbar a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0px;
  text-decoration: none;
  zoom: 1;
  /* IE7 */ }

.sf-navbar ul a {
  padding: 10px 15px; }

.sf-navbar a span {
  border-right: 1px solid #5caaf5;
  padding: 0px 12px; }

.sf-navbar li:last-child a span,
.sf-navbar ul a span {
  border-right: none; }

.sf-navbar a:hover {
  color: #fff; }

.sf-navbar li.selected a {
  color: #ffd900; }

.sf-navbar li.selected ul li a {
  color: #fff; }

.sf-navbar > li > ul > li > a {
  border: none; }

.sf-navbar ul li {
  background: #80A8DF;
  position: relative; }

.sf-navbar ul ul {
  left: 0;
  top: 100%; }

.sf-navbar ul ul li {
  width: 100%; }

.sf-navbar > li > ul > li {
  float: left; }

.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
.sf-navbar ul ul li {
  background: #BED3EF; }

.sf-navbar ul ul li:hover,
.sf-navbar ul ul li.sfHover {
  background: #BED3EF; }

/* ---------- Sub Navigations ---------- */
.sub-navigation {
  background-color: #F0F0F0;
  border: 1px solid #C0C2C5;
  clear: both;
  padding: 5px;
  z-index: 1;
  font-size: 11px;
  color: #00528B;
  text-align: right;
  text-shadow: 1px 1px white;
  margin-bottom: 5px; }

.sub-navigation .date_time {
  background: url("../images/custom_icon/clock.png") no-repeat scroll left center transparent;
  color: #00528B;
  float: left;
  padding: 2px 0px 2px 20px;
  height: 16px;
  white-space: nowrap; }

.sub-navigation .top_notify {
  color: #bc0000;
  float: left;
  margin-left: 40px;
  padding: 2px 0px; }

.sub-navigation .global-search-wrapper {
  float: right;
  height: 22px; }

.sub-navigation .global-search-wrapper select {
  display: none; }

.sub-navigation a {
  text-decoration: none; }

