/* Admin Page */
.citizen_inquiry-portlet .aui-field-content,
.citizen_inquiry_admin-portlet .aui-field-content {
  padding-bottom: 10px; }

.citizen_inquiry-portlet textarea,
.citizen_inquiry-portlet input[type="text"],
.citizen_inquiry_admin-portlet textarea,
.citizen_inquiry_admin-portlet input[type="text"] {
  display: inline-block;
  padding: 5px !important;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important; }

.citizen_inquiry-portlet textarea:focus,
.citizen_inquiry_admin-portlet textarea:focus,
.citizen_inquiry-portlet input[type="text"]:focus,
.citizen_inquiry_admin-portlet input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  background-color: #ffffff !important;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important; }

.inquiry-admin {
  font-size: 12px;
  font-weight: normal;
  color: #434343; }

.inquiry-admin .lfr-header-row {
  margin-bottom: 10px;
  border-radius: 4px;
  background: url("/citizen_inquiry_admin-portlet/images/admin_tool_bar_bg.png") repeat-x scroll 0 0 #d9d9d9;
  border: 1px solid #C9C9C9; }

.inquiry-admin .lfr-header-row-content {
  padding: 2px 4px 0 !important; }

.inquiry-admin .inquiry-permission-btn-row {
  float: left; }

.inquiry-admin .inquiry-search-form {
  float: right; }

.inquiry-update-form {
  border: 1px solid #E4E4E4;
  font-size: 12px;
  font-weight: bold; }

.inquiry-update-form .aui-field-content {
  padding-bottom: 10px; }

.inquiry-update-form table tr {
  height: 40px; }

.inquiry-update-form table tr td {
  padding-left: 10px;
  padding-right: 10px; }

.inquiry-update-form input[type="text"] {
  width: 300px; }

.inquiry-update-form textarea {
  width: 300px;
  height: 70px; }

.inquiry-update-form select {
  width: 312px; }

.inquiry-update-form .aui-form-validator-message {
  border-radius: 2px;
  width: 302px; }

.inquiry-admin .lfr-search-container tr:hover td {
  background: #D3E8F1;
  border: 1px solid #D3E8F1; }

.inquiry-view .lfr-search-container .delta-selector,
.inquiry-view .lfr-search-container .page-selector,
.inquiry-admin .lfr-search-container .delta-selector,
.inquiry-admin .lfr-search-container .page-selector {
  padding-right: 5px; }

.inquiry-view .lfr-search-container .delta-selector select,
.inquiry-view .lfr-search-container .page-selector select,
.inquiry-admin .lfr-search-container .delta-selector select,
.inquiry-admin .lfr-search-container .page-selector select {
  border-radius: 2px !important;
  padding: 0px !important;
  margin: 0px !important; }

/* VIEW */
.inquiry-view {
  padding: 10px;
  font-size: 12px;
  color: #434343;
  border-radius: 2px; }

.inquiry-view .inquiry-toolbar {
  padding: 10px 0px; }

.inquiry-view .inquiry-toolbar .inquiry-title {
  float: left;
  clear: both;
  font-weight: bold;
  color: #bc0000;
  font-size: 14px; }

.inquiry-view .inquiry-toolbar input[type="text"] {
  width: 300px; }

.inquiry-form {
  font-weight: bold;
  color: #434343; }

.inquiry-form .form-title {
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px; }

.inquiry-form table {
  padding: 0px;
  margin: 0px; }

.inquiry-form table tr td:first-child {
  text-align: right;
  padding-right: 20px; }

.inquiry-form input[type="text"] {
  width: 400px; }

.inquiry-form textarea {
  width: 400px;
  height: 120px; }

.inquiry-form .aui-form-validator-message {
  border-radius: 2px;
  width: 402px; }

.inquiry-form .aui-column-content {
  padding: 0px; }

.inquiry-form .taglib-captcha img {
  width: 115px; }

.inquiry-form .taglib-captcha .aui-field-label {
  display: none; }

.inquiry-form .taglib-captcha input[type="text"] {
  width: 104px; }

.inquiry-form .taglib-captcha .aui-form-validator-message {
  width: 106px; }

.inquiry-form .captcha_reload {
  cursor: pointer; }

.inquiry-form .captcha_reload img {
  height: 42px;
  margin-top: 10px; }

.inquiry-entry {
  padding: 5px 0px;
  border-top: 1px solid #f1f2f3;
  text-align: justify; }

.inquiry-entry .inquiry-title {
  margin: 10px 0px; }

.inquiry-entry .inquiry-title a {
  font-weight: bold;
  color: #00528B;
  text-decoration: none;
  background: url("/citizen_inquiry_admin-portlet/images/inquiry_icon.png") no-repeat scroll 0 0 transparent;
  padding-left: 22px;
  display: block; }

.inquiry-entry .inquiry-title a:hover {
  color: #ff5800; }

.inquiry-entry .inquiry-summary {
  color: #656565;
  padding-left: 22px; }

.inquiry-entry .inquiry-info {
  color: #9C9C9C;
  font-size: 11px;
  text-align: right;
  margin: 5px 0; }

.inquiry-detail {
  color: #434343;
  text-align: justify;
  padding: 10px; }

.inquiry-detail .header {
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
  clear: both;
  font-weight: bold;
  height: 15px; }

.inquiry-detail .header .header-title {
  color: #bc0000;
  font-size: 14px;
  float: left; }

.inquiry-detail .header .header-toolbar {
  float: right; }

.inquiry-detail .header .header-toolbar .send-inquiry-icon a {
  text-decoration: none;
  color: #00528B;
  font-weight: bold;
  background: url("/citizen_inquiry_admin-portlet/images/send_inquiry_icon.jpg") no-repeat scroll 0px 1px transparent;
  padding-left: 22px;
  padding-right: 10px; }

.inquiry-detail .header .header-toolbar .back-icon a {
  text-decoration: none;
  color: #00528B;
  font-weight: bold;
  background: url("/citizen_inquiry_admin-portlet/images/back_icon.jpeg") no-repeat scroll 0px -1px transparent;
  padding-left: 22px; }

.inquiry-content {
  padding-bottom: 20px; }

.inquiry-detail .title {
  padding: 5px 5px 5px 10px;
  background: #e9f0f7;
  font-weight: bold; }

.inquiry-detail .info {
  padding-left: 10px; }

.inquiry-detail .info table tr {
  height: 40px; }

.inquiry-detail .info table tr td:first-child {
  padding-right: 20px;
  min-width: 200px; }

.inquiry-detail .content {
  padding: 10px;
  border: 1px solid #f1f2f3;
  border-radius: 2px; }

