/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width : 1024px) {
	.body-wrapper{
		width: 100%;
		max-width: 100%;
	}
	.navigation{
		width: 100%;
	}
	.navigation .sf-navbar{
		width: 100%;
		max-width: 100%;
	}	

	/*article publisher portlet*/
	.article-publisher-portlet .article-publisher-display-style-5 .style-content 
	.jcarousel-skin-tango .jcarousel-clip-horizontal{
		width: 670px;
	}
}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {

} */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (min-width: 600px) and (max-width : 991px){
	/* Navigation  */
	.navigation .sf-navbar li{
		float: none;
		display: block;
		padding: 8px 8px;
		border: none;
	}
	.navigation .sf-navbar li a{
		font-weight: bold;
		font-size: 15px;
		color: #fff;
	}
	.navigation .sf-navbar{
		background: #2954a2;
		position: absolute;
		display: none;
		opacity: 0.9;
		width: 250px;
		padding-left: 10px;
		top: 40px;
	}
	.navigation .sf-navbar li ul{
		display: block !important;
		opacity: 1;
		min-width: unset;
		position: relative;
		padding-top: 8px;
		visibility: visible;
		background-color: #2954a2;
		li {
			position: relative;
			padding-top: 8px;
			padding-left: 0px;
			min-width: unset !important;
			a{
				font-weight: 400;
				font-size: 14px;
				color: lightgray;
			}
		}
	}
	.navigation a#pull{
		display: block !important;
		position: relative;
		background-color: #283744;
		bottom: 4px;
		width: 100%;
	}
	.navigation a#pull:AFTER{
		content:"";
        background: url('../images/background/navicon.png') no-repeat;
        width: 30px;
        height: 30px;
        right: 0;
        display: inline-block;
        position: absolute;
        rightright: 15px;
        top: 10px;
	}
	#menu-responsive{
		position: absolute;
		padding-top: 8px;
    	text-transform: uppercase;
    	padding-left: 10px;
    	display: block;
    	font-weight: bold;
    	position: absolute;
    	color: #fff;
	}
	/*style layout*/
	.body-wrapper{
		width: 100%;
	}
	/* Style layout */
	#column_1_1{
		display: none;
	}
	.portlet-boundary_slider_WAR_portalentsliderportlet_{
		display: none !important;
	}
	.container{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#p_p_id_custom_WAR_customtemplateportlet_INSTANCE_yAnyKb4iyQzS_{
		display: none;
	}
	#column_2_1{
		display: block;
		#column-3{
			width: 100%;
			display: block;
		}
		#column-2{
			width: 100%;
			display: block;
		}
	}
	
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .focus-asset-display-style-2{
			display: block;
			.asset-summary-container{
				float: none;
				width: 100%;
			}
			.tab-content-container{
				border:none;
				float: none;
				width: 100%;
				.tab-assets-container{
					li{
						a{
							.focus-asset-title{
								display: none;
							}
							.focus-asset-title-mobile{
								display: block !important;
							}
						}
					}
				}
			}
			img{
				padding: 0 !important;
				height: 70vw !important;
			}
	}
	.portlet-boundary_article_publisher_WAR_articlepublisherportlet_ .article-publisher-display-style-10 div.style-asset:FIRST-CHILD{
		padding-right: 5px;
		.asset-img{
			width:100%;
			float: none;
			img {
				height: 66vw !important;
			}
		}
		.asset-content{
			float: none;
			width: 100%;
		}
		.border-footer{
			margin-top: 0;
		}
	}
	.portlet-boundary_videoplayer_WAR_videoplayerportlet_ .external-video-frame{
		height: 66vw !important;
	}
	.portlet-boundary_article_publisher_WAR_articlepublisherportlet_ .article-publisher-display-style-10 .style-asset{
		.asset-img{
			img {
				height: 140px !important;
			}
		}
	}
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .portlet-topper{
		display: none;
	}
	.portlet-content{
		border: none;
	}
	#column_4_1{
		#column-5{
			width: 100%;
			display: block;
		}
		#column-6{
			width: 100%;
			display: block;
		}
		#column-7{
			width: 100%;
			display: block;
		}
	}
	#column_3_1{
		.article-publisher-display-style-9{
			.asset-entry{
				width: 100% !important;
				float: none;
			}
		}
	}
	
	.portlet-boundary_slogan_WAR_sloganportlet_{
		display: none;
		.sub-navigation{
			width:100%;
		}
		marquee {
			width: 100% !important; 
		}
	}
	.portlet-column-content{
		padding: 0;
	}
	.portlet-content{
		padding: 0;
		margin: 0;
	}
	.portal_7_3,
	.columns3070
	{
		.aui-w70{
			width: 100%;
			display: block;
		}
		.aui-w30{
			width: 100%;
			display: block;
		}
	}
	/* Style for asset publisher  */
	.asset_publisher_view_full_content{
		padding: 5px;
		.asset_title{
			text-align: unset !important;
		}
	}
	.asset_publisher_view_full_content .journal-content-article img{
		width: 100% !important;
		max-width: 100% !important;
	}
	.portlet-boundary_101_ .asset-abstract-first{
		display: block;
		.assetdesc-text{
			padding: 5px;
		}
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img{
		float: none;
		width: 100%;
		height: 66vw;
		margin: 0;
		padding: 0;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-content{
		margin-top: 10px;
		padding: 5px;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img img{
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.portlet-boundary_101_ .default-asset-publisher{
		width: 100%;
		.assetdesc{
			.asset_title{
				text-align: justify;
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.portlet-boundary_101_ .asset-abstract{
		.asset-content{
			padding: 5px;
		}
		.assetdesc{
			.assetdesc-img{
				width: 33%;
				margin: 0;
				img {
					width: 100%;
					height: 110px;
					border-radius: 5px;
					padding: 0;
				}
			}
			.assetdesc-content{
				width: 64%;
				margin-left: 10px;
				.asset-info{
					font-size: 13px;
				}
			}
			.asset-sumary{
				display: none;
			}
		}
	}
	.portlet-boundary_101_ .taglib-page-iterator{
		padding: 5px;
	}
	/* Style footer */
	#footer{
		height: 375px;
	}
	#footer .copyright{
		padding: 30px 10px 0px 10px;
	}
	
	/* Style for image gallery portlet */
	.portlet-boundary_image_gallery_WAR_imagegalleryportlet_{
		.imageGallerySliderFrame{
			width: 100% !important;
			.imageGallerySlider{
				height: 66vw !important;
				width: 100% !important;
				.image-thumbnail-preview{
					width:100% !important;
				}
			}
			img {
				width: 100% !important;
				padding: 0!important;
				height: 66vw !important;
			}
		}
	}
	
	/* Portlet title */
	.portlet-title .redline{
		display: inline-block;
		height: 15px;
		width: 2px;
		background-color: #c90707;
	}
	.portlet-title:AFTER{
		display: none;
	}
	/* VBPQ styles */
	.portlet-boundary_vbpq_WAR_vbpqportlet_{
		.vbpq_search_form_wrapper{
			display: block;
			width: 100%;
			.vbpq_search_form_left_content{
				display: none;
			}
			.vbpq_search_form_help_content{
				display: none;
			}
			.vbpq_search_form_help{
				display: none;
			}
			.vbpq_search_form_center_content{
				width: 100%;
				.vbpq_search_form{
					padding: 0px;
				}
			}
			input[type="text"]{
				width: unset;
			}
		}
		.aui-button-holder{
			display: block;
			width: 100%;
		}
		.taglib-search-iterator tbody tr th{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-entry-name{
			text-align: justify;
			padding: 2px !important;
		}
		
		.taglib-search-iterator tbody tr td.col-vbpq-publish-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-execute-date{
			text-align: justify;
			padding: 2px !important;
		}
	}
	.portlet-boundary_legalfaq_WAR_legalfaqportlet_ {
		.search-form{
			#aui_3_4_0_1_260{
				margin-bottom: 5px;
    			margin-top: 5px;
    			padding-top: 14px
			}
		}
		
	}
}

@media (min-width: 320px) and (max-width : 559px) {
	/* Navigation  */
	.navigation{
		margin-bottom: 10px;
		background: url('../images/background/menu_bg.jpg') no-repeat;
		position: relative;
	}
	.navigation .sf-navbar{
		width: 100%;
	}
	
	.navigation .sf-navbar li{
		float: none;
		display: block;
		padding: 8px 8px;
		border: none;
	}
	.navigation .sf-navbar li a{
		font-weight: bold;
		font-size: 15px;
		color: #fff;
	}
	.navigation .sf-navbar{
		background: #2954a2;
		position: absolute;
		display: none;
		opacity: 0.9;
		width: 250px;
		padding-left: 10px;
		top: 40px;
	}
	.navigation .sf-navbar li ul{
		display: block !important;
		opacity: 1;
		min-width: unset;
		position: relative;
		padding-top: 8px;
		visibility: visible;
		background-color: #2954a2;
		li {
			position: relative;
			padding-top: 8px;
			padding-left: 0px;
			min-width: unset !important;
			a{
				font-weight: 400;
				font-size: 14px;
				color: lightgray;
			}
		}
	}
	.navigation a#pull{
		display: block !important;
		position: relative;
		bottom: 4px;
		background-color: #283744;
		width: 100%;
	}
	.navigation a#pull:AFTER{
		content:"";
        background: url('../images/background/navicon.png') no-repeat;
        width: 30px;
        height: 30px;
        right: 0;
        display: inline-block;
        position: absolute;
        rightright: 15px;
        top: 10px;
	}
	.navigation .menu-row1{
		display: block;
		width: 68%;
		float: left;
		ul{
			text-align: right;
			padding-top: 20px;
			padding-bottom: 0;
			.li-hotline{
				display: none;
			}
		}
	}
	.navigation .main-menu{
		position: relative;
		display: block;
		width: 100%;
		height: 40px;
		background-color: #2954a2;
	}
	.navigation .main-menu a#menu-responsive{
		position: absolute;
		padding-top: 8px;
    	text-transform: uppercase;
    	padding-left: 10px;
    	display: block;
    	font-weight: bold;
    	position: absolute;
    	color: #fff;
	}
	.navigation .header-logo{
		width: 30%;
	}
	/* Style layout */
	.body-wrapper{
		width: 100%;
	}
	.content-wrapper{
		padding: 5px;
	}
	.sub-navigation{
		display: none;
	}
	.banner-wrapper{
		background: url(../images/background/414.png) no-repeat top center;
		background-size: cover;
		height: 90px;
		.flag{
			display: none;
		}
	}
	#footer .footer-menu{
		display: none;
	} 
	#column-1{
		display: block;
		width: 100%;
	}
	#column-2{
		display: block;
		width: 100%;
	}
	.article-publisher-portlet{
		display: none;
	} 
	/*article publisher portlet*/
	.article-publisher-portlet .article-publisher-display-style-5 .style-content 
	.jcarousel-skin-tango .jcarousel-clip-horizontal{
		width: 670px;
		display: none;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar{
		width: 100%;
		float: none;
	}
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .focus-asset-display-style-2{
			display: block;
			.asset-summary-container{
				float: none;
				width: 100%;
			}
			.tab-content-container{
				border:none;
				float: none;
				width: 100%;
			}
			img{
				height: 86vw !important;
				padding: 0 !important;
			}
	}
	
	.portlet-boundary_article_publisher_WAR_articlepublisherportlet_ .article-publisher-display-style-10 div.style-asset:FIRST-CHILD{
		.asset-img{
			width:100%;
			float: none;
			img {
				height: 76vw;
				border-radius: unset !important;
			}
		}
		.asset-content{
			float: none;
			width: 100%;
		}
		.border-footer{
			margin-top: 0;
		}
	}
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .portlet-topper{
		display: none;
	}
	.portlet-content{
		border: none;
	}
	#column_4_1{
		#column-5{
			width: 100%;
			display: block;
		}
		#column-6{
			width: 100%;
			display: block;
		}
		#column-7{
			width: 100%;
			display: block;
		}
	}
	#column_3_1{
		.article-publisher-display-style-9{
			.asset-entry{
				width: 100% !important;
				float: none;
			}
		}
	}
	
	.portlet-boundary_slogan_WAR_sloganportlet_{
		display: none;
		.sub-navigation{
			width:100%;
		}
		marquee {
			width: 100% !important; 
		}
	}
	.portlet-column-content{
		padding: 0;
	}
	.portlet-content{
		padding: 0;
		margin: 0;
	}
	.portal_7_3,
	.columns3070
	{
		.aui-w70{
			width: 100%;
			display: block;
		}
		.aui-w30{
			width: 100%;
			display: block;
		}
	}
	/* Style for asset publisher  */
	.asset_publisher_view_full_content{
		padding: 5px;
		.asset_title{
			text-align: unset !important;
		}
	}
	.asset_publisher_view_full_content .journal-content-article img{
		width: 100% !important;
		max-width: 100% !important;
	}
	.asset_publisher_view_full_content .journal-content-article img.icon{
		width: unset !important;
		max-width: unset !important;
		height: unset !important;
	}
	.portlet-boundary_101_ .asset-abstract-first{
		display: block;
		.assetdesc-text{
			padding: 5px;
		}
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img{
		float: none;
		width: 100%;
		height: 66vw;
		margin: 0;
		padding: 0;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-content{
		margin-top: 10px;
		padding: 5px;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img img{
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.portlet-boundary_101_ .default-asset-publisher{
		width: 100%;
		.assetdesc{
			.asset_title{
				text-align: justify;
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.portlet-boundary_101_ .asset-abstract{
		.asset-content{
			padding: 5px;
		}
		.assetdesc{
			.assetdesc-img{
				width: 33%;
				margin: 0;
				img {
					width: 100%;
					height: 110px;
					border-radius: 5px;
					padding: 0;
				}
			}
			.assetdesc-content{
				width: 64%;
				margin-left: 10px;
				.asset-info{
					font-size: 13px;
				}
			}
			.asset-sumary{
				display: none;
			}
		}
	}
	.portlet-boundary_101_ .taglib-page-iterator{
		padding: 5px;
	}
	/* Style footer */
	#footer{
		height: 375px;
	}
	#footer .copyright{
		padding: 30px 10px 0px 10px;
	}
	
	/* Style for image gallery portlet */
	.portlet-boundary_image_gallery_WAR_imagegalleryportlet_{
		.imageGallerySliderFrame{
			width: 100% !important;
			.imageGallerySlider{
				width: 100% !important;
				.image-thumbnail-preview{
					width:100% !important;
				}
			}
			img {
				width: 100% !important;
				padding: 0!important;
			}
		}
	}
	
	/* Portlet title */
	.portlet-title .redline{
		display: inline-block;
		height: 15px;
		width: 2px;
		background-color: #c90707;
	}
	.portlet-title:AFTER{
		display: none;
	}
	/* VBPQ styles */
	.portlet-boundary_vbpq_WAR_vbpqportlet_{
		.vbpq_search_form_wrapper{
			display: block;
			width: 100%;
			.vbpq_search_form_left_content{
				display: none;
			}
			.vbpq_search_form_help_content{
				display: none;
			}
			.vbpq_search_form_help{
				display: none;
			}
			.vbpq_search_form_center_content{
				width: 100%;
				.vbpq_search_form{
					padding: 0px;
				}
			}
			input[type="text"]{
				width: unset;
			}
		}
		.aui-button-holder{
			display: block;
			width: 100%;
		}
		.taglib-search-iterator tbody tr th{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-entry-name{
			text-align: justify;
			padding: 2px !important;
		}
		
		.taglib-search-iterator tbody tr td.col-vbpq-publish-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-execute-date{
			text-align: justify;
			padding: 2px !important;
		}
	}
	.portlet-boundary_legalfaq_WAR_legalfaqportlet_ {
		.search-form{
			#aui_3_4_0_1_260{
				margin-bottom: 5px;
    			margin-top: 5px;
    			padding-top: 14px
			}
		}
		
	}
	/*Video portlet*/
	.video-player-default-style iframe{
		border:none !important;
	}
}