/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width : 1024px) {
	.body-wrapper{
		width: 100%;
		max-width: 100%;
	}
	.navigation{
		width: 100%;
	}
	.navigation .sf-navbar{
		width: 100%;
		max-width: 100%;
	}	

	/*article publisher portlet*/
	.article-publisher-portlet .article-publisher-display-style-5 .style-content 
	.jcarousel-skin-tango .jcarousel-clip-horizontal{
		width: 670px;
	}
}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {

} */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (min-width: 600px) and (max-width : 991px){
	/* Navigation  */
	.navigation{
		background: #b10700;
		position: relative;
	}
	.navigation .sf-navbar{
		width: 100%;
		display: none;
		top: 30px;
    	padding-left: 15px;
	}
	.navigation #show-menu{
		display: block;
		font-size: 25px;
		color: #fff;
		padding-left: 5px;
	}
	.navigation .menu-mobile{
		color: #fff;
		display: block;
		text-transform: uppercase;
		position: absolute;
		right: 5px;
		font-weight: bold;
		font-size: 20px;
	}
	.navigation .sf-navbar li{
		float: none;
		display: block;
		padding: 5px 8px;
		border: none;
	}
	.navigation .sf-navbar li a{
		font-weight: bold;
		font-size: 15px;
	}
	.sf-navbar .right-arrow{
		padding-left: 10px;
	}
	.navigation .sf-navbar{
		background: #b10700;
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 35px;
	}
	.navigation .sub-menu .child-menu{
		position: relative;
		left: 0;
	}
	.navigation li:HOVER{
		background: #b10700;
	}
	
	.navigation li:HOVER a{
		background: #b10700;
	}
	
	.sf-navbar li.selected{
		background: #b10700;
	}
	.sf-navbar .parrent-menu{
		display: none;
	}
	.sf-navbar .toggle{
		display: block !important;
	}
	.navigation .sf-navbar li ul{
		display: none;
		opacity: 1;
		min-width: unset;
		position: relative;
		visibility: visible;
		background-color: #b10700;
		li {
			position: relative;
			padding-left: 0px;
			min-width: unset !important;
			a{
				font-weight: 500;
				font-size: 14px;
			}
		}
	}
	/*Banner portlet*/
	.banner-portlet .banner-image-wrapper img[class^="banner-"]{	
		min-height: 100% !important;
		height: 100% !important;
	}
	/* Style layout */
	.body-wrapper{
		width: 100%;
	}
	.content-wrapper{
		padding: 5px;
		min-height: 0 !important;
	}
	.sub-navigation{
		display: block;
		background: #e9e9e9;
		margin-bottom: 5px;
	}
	.sub-navigation .date_time{
		display: none;
	}
	.sub-navigation .global-search-wrapper{
		display: block;
		
	}
	.sub-navigation .top_notify {
		position: relative;
		top: 3px;
		width: 60%;
		left: 0;
		margin-left:0;
	}
	.sub-navigation .top_notify marquee{
		width: 100%;
	}
	.banner-wrapper{
		background: none;
		background-size: cover;
		height: 130px;
		.flag{
			display: none;
		}
	}
	.banner-wrapper .banner-logo{
		display: block;
		width: 100%;
		height: 100%;
	}
	#footer .footer-menu{
		display: none;
	} 
	#column-1{
		display: block;
		width: 100%;
	}
	#column-2{
		display: block;
		width: 100%;
	}
 
	/*article publisher portlet*/
	.article-publisher-portlet .article-publisher-display-style-5 .style-content 
	.jcarousel-skin-tango .jcarousel-clip-horizontal{
		width: 668px;
	}
	.focus-asset-portlet .focus-asset-display-style-2 .tab-content-container .tab-assets-container span.focus-asset-title-mobile{
		display: block !important;
	}
	.focus-asset-portlet .focus-asset-display-style-2 .tab-content-container .tab-assets-container span.focus-asset-title{
		display: none;
	}
	.article-publisher-portlet .article-publisher-display-style-5 .style-title {
		padding: 10px 0px 10px 5px;
		text-shadow: none;
		color: #b10700;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .aui-w30 {
		width: 100%;
		display: block;
		padding: 0;
		border: none;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-summary{
		font-size: 14px;
	}
	
	.article-publisher-portlet .article-publisher-display-style-1 .older-asset{
		padding: 5px 0px;
	}
	
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-title{
		display: none;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-title-mobile{
		display: block !important;
		padding: 5px 0px !important;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-title-mobile a{
		color: #b10700;
		font-weight: bold;
		
	}
	.article-publisher-portlet .article-publisher-display-style-6 .aui-w70 {
		width: 100%;
		display: block;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar{
		width: 100%;
		float: none;
	}
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .focus-asset-display-style-2{
			display: block;
			.asset-summary-container{
				float: none;
				width: 100%;
			}
			.tab-content-container{
				border:none;
				float: none;
				width: 100%;
			}
			img{
				height: 86vw !important;
				padding: 0 !important;
			}
	}
	
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .portlet-topper{
		display: none;
	}
	
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar .list-news .top-asset .small-img{
		width: 100%;
		height: 66vw;
		padding: 0;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .top-asset .asset-title{
		display: none;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .top-asset .asset-title-mobile{
		display: block !important;
		padding: 4px 0px !important;
    	font-weight: bold;
    	
	}
	.focus-asset-portlet .focus-asset-display-style-5 .top-asset .asset-title-mobile a{
		color: #b10700;	
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-img .small-img{
		width: 100%;
		height: 66vw;
		padding: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-img{
		float: none;
		margin: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-6{
		padding: 5px 0px 0px 0px;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-image .small-img{
		width: 100%;
		height: 66vw;
		padding: 0;
		margin: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-image{
		float: none;
		margin: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary{
		margin-top: 5px;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-image{
		padding-top: 3px;
		padding-right: 0px !important;
	}
	.article-publisher-portlet .article-publisher-display-style-1{
		padding: 0;
	}
	.portlet-content{
		border: none;
	}
	
	.portlet-column-content{
		padding: 0;
	}
	.portlet-content{
		padding: 0;
		margin: 0;
	}
	.aui-w70{
		width: 100%;
		display: block;
	}
	.aui-w30{
		width: 100%;
		display: block;
	}
	
	
	/* Style for asset publisher  */
	.asset_publisher_view_full_content{
		padding: 5px;
		.asset_title{
			text-align: unset !important;
		}
	}
	.asset_publisher_view_full_content .journal-content-article img{
		width: 100% !important;
		max-width: 100% !important;
	}
	.asset_publisher_view_full_content .journal-content-article img.icon{
		width: unset !important;
		max-width: unset !important;
		height: unset !important;
	}
	
	.portlet-asset-publisher .asset_publisher_view_full_content .asset-publish-date span{
		font-size: 10px;
		color: #333;
	}
	
	.portlet-boundary_101_ .asset-abstract-first{
		display: block;
		.assetdesc-text{
			padding: 5px;
		}
	}
	.portlet-boundary_101_ .asset-abstract .assetdesc .assetdesc-img img{
		height: 23vw !important;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img{
		float: none;
		width: 100%;
		height: 66vw;
		margin: 0;
		padding: 0;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-content{
		margin-top: 10px;
		padding: 5px;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img img{
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.portlet-boundary_101_ .default-asset-publisher{
		width: 100%;
		.assetdesc{
			.asset_title{
				text-align: justify;
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.portlet-boundary_101_ .asset-abstract{
		.asset-content{
			padding: 5px;
		}
		.assetdesc{
			.assetdesc-img{
				width: 33%;
				margin: 0;
				img {
					width: 100%;
					height: 110px;
					border-radius: 5px;
					padding: 0;
				}
			}
			.assetdesc-content{
				width: 64%;
				margin-left: 10px;
				.asset-info{
					font-size: 13px;
				}
			}
			.asset-sumary{
				display: block;
			}
		}
	}
	.portlet-boundary_101_ .taglib-page-iterator{
		padding: 5px;
	}
	/* Style footer */
	#footer{
		height: 375px;
	}
	#footer .copyright{
		padding: 30px 10px 0px 10px;
	}
	
	/* Style for image gallery portlet */
	.portlet-boundary_image_gallery_WAR_imagegalleryportlet_{
		.imageGallerySliderFrame{
			width: 100% !important;
			.imageGallerySlider{
				width: 100% !important;
				.image-thumbnail-preview{
					width:100% !important;
					height: 100% !important;
				}
			}
			img {
				width: 100% !important;
				padding: 0!important;
				height: 100% !important;
			}
		}
	}
	
	/* Portlet title */
	.portlet-title .redline{
		display: inline-block;
		height: 15px;
		width: 2px;
		background-color: #c90707;
	}
	.portlet-title:AFTER{
		display: none;
	}
	.aui-dialog{
		width: 100% !important;
	}
	.top-links-container{
		margin-top: 10px;
	}
	/* VBPQ styles */
	.portlet-boundary_vbpq_WAR_vbpqportlet_{
		.vbpq_search_form_wrapper{
			display: block;
			width: 100%;
			.vbpq_search_form_left_content{
				display: none;
			}
			.vbpq_search_form_help_content{
				display: none;
			}
			.vbpq_search_form_help{
				display: none;
			}
			.vbpq_search_form_center_content{
				width: 100%;
				.vbpq_search_form{
					padding: 0px;
				}
			}
			input[type="text"]{
				width: unset;
			}
		}
		.aui-button-holder{
			display: block;
			width: 100%;
		}
		.taglib-search-iterator tbody tr th{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator .col-5,.col-6{
			display: none;
		}
		
		.taglib-search-iterator tbody tr td{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-entry-name{
			text-align: justify;
			padding: 2px !important;
		}
		
		.taglib-search-iterator tbody tr td.col-vbpq-publish-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-execute-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator .results-header th{
			background: #d3e8f1 !important;
		}
	}
	
	.portlet-boundary_legalfaq_WAR_legalfaqportlet_ {
		.search-form{
			#aui_3_4_0_1_260{
				margin-bottom: 5px;
    			margin-top: 5px;
    			padding-top: 14px
			}
		}
		
	}
	/*Video portlet*/
	.video-player-default-style iframe{
		border:none !important;
		
	}
	.video-player-default-style .video-player{
		height: 80vw !important;
	}
	.video-player-default-style .external-video-frame{
		height: 100% !important;
	}
	
	.image_gallery-portlet .imageGallerySlider{
		height: 80vw !important;
	}
	
	.video-gallery-style .jwplayer{
		width: 100% !important;
		height: 80vw !important;	
	}
	.video-gallery-style iframe{
		width: 100% !important;
		height: 80vw !important;
		border: none !important;
	}
	.video-player-portlet .video-gallery-style .video-player-frame{
		border: none;
		padding: 0;
	}
	.video-player-portlet .portlet-topper{
		display: none;
	}
	.video-gallery-style .video-player-frame{
		border: none;
	}
	.video-player-portlet .video-gallery-style .video-gallery .gallery-wrapper .video-entry{
		width: 100%;
		height: auto;
		margin: 0;
	}
	.inquiry-portlet .inquiry-form{
		overflow: hidden;
	}
	.inquiry-portlet textarea, .inquiry-portlet input[type="text"], .inquiry_admin-portlet textarea, .inquiry_admin-portlet input[type="text"]{
		width: auto !important;
	}
}

@media (min-width: 320px) and (max-width : 559px) {
	/* Navigation  */
	.navigation{
		background: #b10700;
		position: relative;
	}
	.navigation .sf-navbar{
		width: 100%;
		display: none;
		top: 30px;
    	padding-left: 15px;
	}
	.navigation #show-menu{
		display: block;
		font-size: 25px;
		color: #fff;
		padding-left: 5px;
	}
	.navigation .menu-mobile{
		color: #fff;
		display: block;
		text-transform: uppercase;
		position: absolute;
		right: 5px;
		font-weight: bold;
		font-size: 20px;
	}
	.navigation .sf-navbar li{
		float: none;
		display: block;
		padding: 5px 8px;
		border: none;
	}
	.navigation .sf-navbar li a{
		font-weight: bold;
		font-size: 15px;
	}
	.sf-navbar .right-arrow{
		padding-left: 10px;
	}
	.navigation .sf-navbar{
		background: #b10700;
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 35px;
	}
	.navigation .sub-menu .child-menu{
		position: relative;
		left: 0;
	}
	.navigation li:HOVER{
		background: #b10700;
	}
	
	.navigation li:HOVER a{
		background: #b10700;
	}
	
	.sf-navbar li.selected{
		background: #b10700;
	}
	.sf-navbar .parrent-menu{
		display: none;
	}
	.sf-navbar .toggle{
		display: block !important;
	}
	.navigation .sf-navbar li ul{
		display: none;
		opacity: 1;
		min-width: unset;
		position: relative;
		visibility: visible;
		background-color: #b10700;
		li {
			position: relative;
			padding-left: 0px;
			min-width: unset !important;
			a{
				font-weight: 500;
				font-size: 14px;
			}
		}
	}
	
	/* Style layout */
	.body-wrapper{
		width: 100%;
	}
	.content-wrapper{
		padding: 5px;
		min-height: 0 !important;
	}
	.sub-navigation{
		display: block;
		background: #e9e9e9;
		margin-bottom: 5px;
	}
	.sub-navigation .date_time{
		display: none;
	}
	.sub-navigation .global-search-wrapper{
		display: none;
	}
	.sub-navigation .top_notify {
		left: 0;
		margin-left:0;
	}
	.sub-navigation .top_notify marquee{
		width: 100%;
	}
	.banner-wrapper{
		background: none;
		background-size: cover;
		height: 75px;
		.flag{
			display: none;
		}
	}
	.banner-wrapper .banner-logo{
		display: block;
		width: 100%;
		height: 100%;
	}
	#footer .footer-menu{
		display: none;
	} 
	#column-1{
		display: block;
		width: 100%;
	}
	#column-2{
		display: block;
		width: 100%;
	}
 
	/*article publisher portlet*/
	.article-publisher-portlet .article-publisher-display-style-5 .style-content 
	.jcarousel-skin-tango .jcarousel-clip-horizontal{
		width: 260px;
	}
	
	.article-publisher-portlet .article-publisher-display-style-5 .style-title {
		padding: 10px 0px 10px 5px;
		text-shadow: none;
		color: #b10700;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-title{
		display: none;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-title-mobile{
		display: block !important;
	}
	
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-title-mobile a{
		color: #b10700;
		font-weight: bold;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-img{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-img .small-img{
		width: 100%;
		height: 66vw;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset{
		margin-top: 5px;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .asset-summary{
		margin-top: 5px;
	}
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-image{
		float: none;
		margin: 0;
		padding: 0;
	}
	
	.article-publisher-portlet .article-publisher-display-style-1 .top-asset .asset-summary .asset-image .small-img{
		width: 100%;
		height: 66vw;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .aui-w30 {
		width: 100%;
		display: block;
		padding: 0;
		border: none;
	}
	.article-publisher-portlet .article-publisher-display-style-6 .top-asset .top-asset-summary{
		font-size: 14px;
	}
	
	.article-publisher-portlet .article-publisher-display-style-1 .older-asset{
		padding: 5px 0px;
	}
	
	.article-publisher-portlet .article-publisher-display-style-6 .aui-w70 {
		width: 100%;
		display: block;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar{
		width: 100%;
		float: none;
	}
	.article-publisher-portlet .article-publisher-display-style-6{
		padding: 5px 0px 0px 0px;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar .list-news .top-asset .asset-title{
		display: none;	
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar .list-news .top-asset .small-img{
		width: 100%;
		height: 66vw;
		padding: 0px;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar .list-news .top-asset .asset-title-mobile{
		display: block !important;
	}
	.focus-asset-portlet .focus-asset-display-style-5 .article-slidebar .list-news .top-asset .asset-title-mobile a{
		color: #b10700;
		font-weight: bold;
	}
	.article-publisher-portlet .article-publisher-display-style-6{
		padding: 0;
	}
	.article-publisher-portlet .article-publisher-display-style-1{
		padding: 0;
	}
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .focus-asset-display-style-2{
			display: block;
			.asset-summary-container{
				float: none;
				width: 100%;
			}
			.tab-content-container{
				border:none;
				float: none;
				width: 100%;
			}
			img{
				height: 86vw !important;
				padding: 0 !important;
			}
	}
	
	.portlet-boundary_focus_asset_WAR_focusassetportlet_ .portlet-topper{
		display: none;
	}
	.portlet-content{
		border: none;
	}
	
	.portlet-column-content{
		padding: 0;
	}
	.portlet-content{
		padding: 0;
		margin: 0;
	}
	.aui-w70{
		width: 100%;
		display: block;
	}
	.aui-w30{
		width: 100%;
		display: block;
	}
	
	
	/* Style for asset publisher  */
	.asset_publisher_view_full_content{
		padding: 5px;
		.asset_title{
			text-align: unset !important;
		}
	}
	.asset_publisher_view_full_content .journal-content-article img{
		width: 100% !important;
		max-width: 100% !important;
	}
	.asset_publisher_view_full_content .journal-content-article img.icon{
		width: unset !important;
		max-width: unset !important;
		height: unset !important;
	}
	
	.portlet-asset-publisher .asset_publisher_view_full_content .asset-publish-date span{
		font-size: 10px;
		color: #333;
	}
	
	.portlet-boundary_101_ .asset-abstract-first{
		display: block;
		.assetdesc-text{
			padding: 5px;
		}
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img{
		float: none;
		width: 100%;
		height: 66vw;
		margin: 0;
		padding: 0;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-content{
		margin-top: 10px;
		padding: 5px;
	}
	.portlet-boundary_101_ .asset-abstract-first .assetdesc .assetdesc-img img{
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.portlet-boundary_101_ .default-asset-publisher{
		width: 100%;
		.assetdesc{
			.asset_title{
				text-align: justify;
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.portlet-boundary_101_ .asset-abstract{
		.asset-content{
			padding: 5px;
		}
		.assetdesc{
			.assetdesc-img{
				width: 33%;
				margin: 0;
				img {
					width: 100%;
					height: 110px;
					border-radius: 5px;
					padding: 0;
				}
			}
			.assetdesc-content{
				width: 64%;
				margin-left: 10px;
				.asset-info{
					font-size: 13px;
				}
			}
			.asset-sumary{
				display: none;
			}
		}
	}
	.portlet-boundary_101_ .taglib-page-iterator{
		padding: 5px;
	}
	/* Style footer */
	#footer{
		height: 375px;
	}
	#footer .copyright{
		padding: 30px 10px 0px 10px;
	}
	
	/* Style for image gallery portlet */
	.portlet-boundary_image_gallery_WAR_imagegalleryportlet_{
		.imageGallerySliderFrame{
			width: 100% !important;
			.imageGallerySlider{
				width: 100% !important;
				.image-thumbnail-preview{
					width:100% !important;
				}
			}
			img {
				width: 100% !important;
				padding: 0!important;
			}
		}
	}
	
	/* Portlet title */
	.portlet-title .redline{
		display: inline-block;
		height: 15px;
		width: 2px;
		background-color: #c90707;
	}
	.portlet-title:AFTER{
		display: none;
	}
	.aui-dialog{
		width: 100% !important;
	}
	.top-links-container{
		margin-top: 10px;
	}
	/* VBPQ styles */
	.portlet-boundary_vbpq_WAR_vbpqportlet_{
		.vbpq_search_form_wrapper{
			display: block;
			width: 100%;
			.vbpq_search_form_left_content{
				display: none;
			}
			.vbpq_search_form_help_content{
				display: none;
			}
			.vbpq_search_form_help{
				display: none;
			}
			.vbpq_search_form_center_content{
				width: 100%;
				.vbpq_search_form{
					padding: 0px;
				}
			}
			input[type="text"]{
				width: unset;
			}
		}
		.aui-button-holder{
			display: block;
			width: 100%;
		}
		.taglib-search-iterator tbody tr th{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator .col-1,.col-4,.col-5,.col-6{
			display: none;
		}
		
		.taglib-search-iterator tbody tr td{
			padding: 0!important;
			text-align: center;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-entry-name{
			text-align: justify;
			padding: 2px !important;
		}
		
		.taglib-search-iterator tbody tr td.col-vbpq-publish-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator tbody tr td.col-vbpq-execute-date{
			text-align: justify;
			padding: 2px !important;
		}
		.taglib-search-iterator .results-header th{
			background: #d3e8f1 !important;
		}
	}
	.portlet-boundary_legalfaq_WAR_legalfaqportlet_ {
		.search-form{
			#aui_3_4_0_1_260{
				margin-bottom: 5px;
    			margin-top: 5px;
    			padding-top: 14px
			}
		}
		
	}
	/*Video portlet*/
	.video-player-default-style iframe{
		border:none !important;
	}
	
	.video-gallery-style .jwplayer{
		width: 100% !important;
		height: 80vw !important;	
	}
	.video-gallery-style iframe{
		width: 100% !important;
		height: 80vw !important;
		border: none !important;
	}
	.video-player-portlet .video-gallery-style .video-player-frame{
		border: none;
		padding: 0;
	}
	.video-player-portlet .portlet-topper{
		display: none;
	}
	.video-gallery-style .video-player-frame{
		border: none;
	}
	.video-player-portlet .video-gallery-style .video-gallery .gallery-wrapper .video-entry{
		width: 100%;
		height: auto;
		margin: 0;
	}
	.inquiry-portlet .inquiry-form{
		overflow: hidden;
	}
	.inquiry-portlet textarea, .inquiry-portlet input[type="text"], .inquiry_admin-portlet textarea, .inquiry_admin-portlet input[type="text"]{
		width: auto !important;
	}
}