/* Form CSS */
.tthc-portlet select,
.tthc-portlet input[type="text"],
.tthc-portlet-config-panel select,
.tthc-portlet-config-panel input[type="text"] {
  display: inline-block;
  padding: 5px !important;
  background-image: none;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important; }

.tthc-portlet-config-panel select:focus,
.tthc-portlet-config-panel input[type="text"]:focus,
.tthc-portlet select:focus,
.tthc-portlet input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important; }

/*  TTHC Categories Display  */
.tthc-category-view {
  padding: 0px;
  margin: 0px;
  font-size: 12px; }

.tthc-category-view ul {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.tthc-category-view ul li {
  background: url("/tthc-portlet/images/bullet/li_red_bullet.jpg") no-repeat scroll 0 12px transparent;
  padding-left: 10px;
  padding-top: 6px;
  height: 25px; }

.tthc-category-view ul li a {
  text-decoration: none;
  color: #00528B; }

.tthc-category-view ul li a:hover {
  color: #ff5800; }

.tthc-category-view .tthc-counter {
  color: #999;
  font-size: 11px; }

/*  TTHC Lastest Entries Display  */
.tthc-lastest-entries {
  font-size: 12px;
  padding: 0px;
  margin: 0px; }

.tthc-lastest-entries ul {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.tthc-lastest-entries ul li {
  background: url("/tthc-portlet/images/bullet/brown_bullet.gif") no-repeat scroll 0 12px transparent;
  padding-left: 10px;
  padding-top: 7px; }

.tthc-lastest-entries ul a {
  clear: both;
  display: block;
  text-align: justify;
  text-decoration: none;
  color: #00528B; }

.tthc-lastest-entries ul a:hover {
  color: #0066CC; }

/* TTHC-View */
.tthc_view_configuration {
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
  color: #00528B; }

.tthc_view_configuration .aui-field {
  padding: 5px; }

.tthc_view_configuration .aui-choice-label {
  float: none; }

.tthc_view_configuration input[type="submit"], input[type="button"], input[type="reset"], button {
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA !important; }

.tthc_view_configuration input.focus {
  background: none repeat scroll 0 0 #F2F8F8 !important;
  border: 1px solid #8DD4AE !important; }

.tthc_view_configuration select {
  width: 200px;
  background-image: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 white, 0 1px 2px #CCCCCC inset;
  padding: 3px;
  border: 1px solid #A1A2A4;
  color: #454545;
  text-shadow: none; }

.tthc_view_configuration #tthc_related_entries_advanced_settings {
  padding-top: 5px; }

.tthc_search_form_wrapper {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_search_form_bg.jpg") repeat-x scroll 0 0 transparent;
  padding: 0px;
  text-align: left;
  height: 150px;
  width: 100%;
  position: relative;
  font-size: 12px; }

.tthc_search_form_left_content {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_search_form_left_content_bg.jpg") scroll 0 0 transparent;
  float: left;
  width: 123px;
  height: 141px; }

.tthc_search_form_left_content .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFFFFF;
  padding-left: 32px;
  margin-top: 55px; }

.tthc_search_form_center_content {
  float: left;
  position: relative;
  width: 60%;
  height: 141px; }

.tthc_search_form_center_content .tthc_search_form {
  display: block;
  margin-top: 10px;
  padding-left: 20px; }

.tthc_search_form .tthc_search_form_help_content {
  font-weight: normal;
  color: #454545;
  padding-top: 5px;
  padding-bottom: 10px;
  display: block; }

.tthc_search_form .lfr-form-row {
  border: none;
  padding: 0px;
  margin: 0px; }

.tthc_search_form .lfr-form-row:hover {
  background: none;
  border: none; }

.tthc_search_form .tthc_search_form_help_content span.search_form_title {
  font-weight: bold;
  color: #00528B;
  font-size: 14px;
  text-shadow: 1px 1px white; }

.tthc_search_form .tthc_search_form_help_content span.help_content {
  font-weight: normal; }

.tthc_search_form_center_content .tthc_search_form .tthc_search_form_advance_option {
  color: #00528B;
  margin-top: 20px; }

.tthc_search_form_right_content {
  float: left;
  height: 141px; }

.tthc_search_form_right_content .tthc_search_form_help {
  padding: 0 10px 0 0;
  position: absolute;
  right: 0;
  margin-top: 10px; }

.tthc_search_form_right_content .show_advanced_search_form {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_search_form_right_bg.png") no-repeat scroll left top transparent;
  bottom: 10px;
  padding: 0 0 0 32px;
  position: absolute;
  right: 0; }

.tthc_search_form_right_content .show_advanced_search_form .show_advanced {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_show_advance_search_bg.png") repeat-x scroll left top transparent; }

.tthc_search_form_right_content .tthc_search_form_help a {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_show_advance_search_icon.gif") no-repeat scroll right center transparent;
  display: inline;
  float: left;
  line-height: 16px;
  padding: 0 10px 0 0;
  color: #00528B;
  text-decoration: none;
  text-shadow: 1px 1px white; }

.tthc_search_form_right_content .show_advanced_search_form a {
  background: url("/tthc-portlet/images/tthc_search_form/tthc_show_advance_search_icon.gif") no-repeat scroll right center transparent;
  line-height: 26px;
  margin: 0 10px 0 0;
  padding: 0 12px 0 0;
  color: #00528B;
  text-decoration: none;
  text-shadow: 1px 1px white; }

.tthc_search_form_wrapper table tr {
  height: 32px; }

.tthc_search_form_wrapper table tr td {
  padding-right: 10px; }

.tthc_search_form_wrapper input[type="text"] {
  width: 300px;
  margin-right: 5px; }

.tthc_search_form_wrapper select {
  width: 210px; }

.tthc_home_page {
  font-size: 12px;
  font-weight: normal;
  color: #434343; }

.tthc_home_page .delta-selector {
  display: none; }

.tthc_home_page .page-selector {
  display: none; }

.tthc_search_result .delta-selector {
  display: none; }

.tthc_search_result .page-selector {
  display: none; }

.tthc_home_page .results-header th, .results-header td {
  color: #00528B;
  padding: 2px 10px; }

.tthc_home_page .results-header th {
  border: 1px solid #E4E4E4; }

.tthc_home_page .taglib-search-iterator-page-iterator-top {
  display: none; }

.tthc_home_page .taglib-search-iterator-page-iterator-bottom {
  padding-top: 10px;
  font-size: 11px; }

.tthc_search_result {
  font-size: 12px;
  font-weight: normal;
  color: #434343; }

.tthc_search_result .taglib-search-iterator-page-iterator-top {
  display: none; }

.tthc_search_result .taglib-search-iterator-page-iterator-bottom {
  padding-top: 10px;
  font-size: 11px; }

.tthc-search-result-title {
  font-size: 12px;
  font-weight: bold;
  color: #BC0000;
  text-shadow: 1px 1px #E4E4E4;
  padding-bottom: 5px; }

.tthc_search_result .taglib-search-iterator-page-iterator-bottom {
  padding-top: 10px;
  font-size: 11px; }

.tthc_search_result .delta-selector,
.tthc_search_result .page-selector {
  padding-right: 5px; }

.tthc_search_result .delta-selector select,
.tthc_search_result .page-selector select {
  border-radius: 2px !important;
  padding: 0px !important;
  margin: 0px !important; }

.tthc_search_result .aui-searchcontainer-content tr:hover td {
  background: #D3E8F1;
  border: 1px solid #D3E8F1; }

/* TTHC Entry Preview */
#_tthc_entry_management_WAR_tthcportlet_tthcPreviewDialog {
  min-height: 400px; }

#_tthc_WAR_tthcportlet_tthcPreviewDialog {
  min-height: 400px; }

.tthc-preview {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #434343; }

.tthc-preview .tthc-name {
  font-size: 16px !important;
  color: #bc0000 !important;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center; }

.tthc-preview .tthc-content-tab {
  color: #434343; }

.tthc-preview .tthc-content-tab .aui-tab-active .aui-tab-content {
  background: #1B59A3 !important; }

.tthc-preview .tthc-content-tab .aui-tab-active .aui-tab-label a {
  color: #ffffff !important;
  font-weight: bold !important;
  text-shadow: none; }

.tthc-preview .aui-tabview-content-item {
  color: #434343;
  min-height: 400px; }

.tthc-preview .aui-tabview-content-item table {
  width: 100%;
  border-collapse: collapse; }

.tthc-preview .aui-tabview-content-item table tr {
  border-bottom: 1px dotted #E4E4E4;
  height: 35px; }

.tthc-preview .aui-tabview-content-item table tr td:first-child {
  color: #00528B;
  min-width: 120px; }

