<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	$theme.include($top_head_include)
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>

<body class="$css_class" >

	$theme.include($body_top_include)
	
	#if ($is_signed_in)
		#dockbar()
	#end
	<div class="wrapper">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		#if ($theme_display.isShowPageSettingsIcon())
			<span class="lfr-meta-actions">
				<a class="taglib-icon quickEditLayoutSet" href="$editBannerURL" data-width="700" id="quickEditBanner">
					<img class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" alt="#language("edit-banner")" title="#language("edit-banner")">
				</a>
			</span>
		#end
		<div class="content-wrapper">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
				$portletDisplay.setTitle($the_title)
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
		<footer id="footer" role="contentinfo">
			#parse ("$full_templates_path/footer.vm")
		</footer>
		
	</div>
	$theme.include($body_bottom_include)
	<span id="slogan" class="slogan">$sloganContent</span>	
	<a href="#" class="scroll-up-btn">
		<span class="btn-arrow"></span>
		<span class="btn-text">#language("back-to-top")</span>
	</a>
	
	<script type="text/javascript">
		AUI().ready('aui-dialog', function(A) {
			A.all('a.quickEditLayoutSet').each(
				function(node){
					node.on('click', function(event) {
						event.preventDefault();
						var item = event.currentTarget;
						var width = item.attr('data-width');
						if(!width){
							width = 500;
						}
						window.myDialog = new A.Dialog(
							{
								id: item.attr('id'),
								align: Liferay.Util.Window.ALIGN_CENTER,
								title: item.attr('title'),
								width: width,
								modal:true,
								close: false,
								buttons: [{
									label: Liferay.Language.get('close'),
									handler: function() {
										this.close();
									}
								}]
							}
						).plug(
							A.Plugin.IO,
							{
								uri: item.attr('href')
							}
						).render();
					});
				}
			);
		});
	</script>
</body>

$theme.include($bottom_include)

</html>