<div class="navigation">
	<ul id="navigation-menu" class="sf-menu sf-navbar">
		#set ($counter=0)
		#foreach ($nav_item in $nav_items)
			#set ($counter = $counter + 1)
			#if($counter==1)
				#if ($nav_item.isSelected())
					<li class="first-nav-item selected">
				#else
					<li class="first-nav-item">
				#end
			#else
				#if ($nav_item.isSelected())
					<li class="selected">
				#else
					<li>
				#end
			#end

				<a href="$nav_item.getURL()" $nav_item.getTarget()>
					$nav_item.icon() $nav_item.getName()
					#if($nav_item.hasChildren())
						<img src="$themeDisplay.getPathThemeImages()/common/arrow-down.png" class="down-arrow">
					#end
				</a>
				#if ($nav_item.hasChildren())
					<ul class="sub-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								#if($nav_child.hasChildren())
									<a href="$nav_child.getURL()" $nav_child.getTarget()>
										$nav_child.getName()
										<img src="$themeDisplay.getPathThemeImages()/common/arrow-right.png" class="right-arrow">
									</a>
									<ul class="child-menu">
										#foreach ($nav_child_ele in $nav_child.getChildren())
											#if ($nav_child_ele.isSelected())
												<li class="selected">
											#else
												<li>
											#end
												<a href="$nav_child_ele.getURL()" $nav_child_ele.getTarget()>$nav_child_ele.icon() $nav_child_ele.getName()</a>
										#end
									</ul>
								#else
									<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.icon() $nav_child.getName()</a>
								#end
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</div>
<div style="clear:both;"></div>
