<!DOCTYPE html>
#parse ($init)
<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">
<head>
	<title>$the_title - $company_name</title>
	<meta name="description" content="$description">
    <meta name="keywords" content="$keywords" property="og:keywords"/>
	<meta property="og:url" itemprop="url" content="$url"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="$imageUrl"/>
	<meta property="og:description" content="$description">
	<meta content="$headline" itemprop="headline" property="og:title"/>
	<meta property="og:type" content="$type" />
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	$theme.include($top_head_include)
</head>
<body class="$css_class" >
	$theme.include($body_top_include)
	#if ($is_signed_in)
		#dockbar()
	#end			
	<div class="body-wrapper">
		#if ($theme_display.isShowPageSettingsIcon())
			<span class="lfr-meta-actions">
				<a class="taglib-icon quickEditLayoutSet" href="$editBannerURL" data-width="700" id="quickEditBanner">
					<img class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" alt="#language("edit-banner")" title="#language("edit-banner")">
				</a>
			</span>
		#end
		<div class="banner-wrapper">
			<img src="$themeDisplay.getPathThemeImages()/background/414.png" class="banner-logo"/>
			<div clas="banner-content">
				<img src="$themeDisplay.getPathThemeImages()/banner/co.gif" class="flag"/>
			</div>
		</div>
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		<div class="content-wrapper">
			#parse ("$full_templates_path/sub_navigation.vm")
			<div id="content">
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
		
					$portletDisplay.setTitle($the_title)
		
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>
		</div>
		<footer id="footer" role="contentinfo">
			#parse ("$full_templates_path/footer.vm")
		</footer>
		$theme.include($body_bottom_include)
				
		<a href="javascript:;" class="scroll-up-btn">
			<span class="btn-arrow"></span>
		</a>
	</div>
	<script type="text/javascript">
	  $(document).ready(function () {
	
	      $(window).scroll(function () {
	          if ($(this).scrollTop() > 250) {
	              $('.scroll-up-btn').fadeIn();
	          } else {
	              $('.scroll-up-btn').fadeOut();
	          }
	      });
	
	      $('.scroll-up-btn').click(function () {
	          $("html, body").animate({
	              scrollTop: 0
	          }, 600);
	          return false;
	      });
	 	});
	</script>
	
	<script type="text/javascript">
		AUI().ready('aui-dialog', function(A) {
			A.all('a.quickEditLayoutSet').each(
				function(node){
					node.on('click', function(event) {
						event.preventDefault();
						var item = event.currentTarget;
						var width = item.attr('data-width');
						if(!width){
							width = 500;
						}
						window.myDialog = new A.Dialog(
							{
								id: item.attr('id'),
								align: Liferay.Util.Window.ALIGN_CENTER,
								title: item.attr('title'),
								width: width,
								modal:true,
								close: false,
								buttons: [{
									label: Liferay.Language.get('close'),
									handler: function() {
										this.close();
									}
								}]
							}
						).plug(
							A.Plugin.IO,
							{
								uri: item.attr('href')
							}
						).render();
					});
				}
			);
		});
</script>
<script type="text/javascript" src="$javascript_folder/responsivevoice.js" charset="utf-8"></script>
</body>
$theme.include($bottom_include)
</html>